body {
	padding: 0 !important;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.heading-bold {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
}

.button-black {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.slug {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.col-auto button {
    width: 132px !important;
}